<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <h1><%= @blog_article.title %></h1></p>

<% unless @blog_article.image.blank? %>
  <p>
    <%= link_to image_tag(@blog_article.image_url(:thumbnail).to_s, class: 'img-responsive center-block img-cover'), @blog_article %>
  </p>
<% end %>

<p>
  <strong>Description:</strong>
  <%= @blog_article.description %>
</p>

<%= link_to 'Edit', edit_blog_article_path(@blog_article) if (can? :update, @blog_article) %> |
<%= link_to 'Back', blog_articles_path %>

<h2>Comments</h2>

<%= render "comments/comments" %>
<%= render "comments/form" %>